<div>
    <header>
        <div id="credenciales"></div>
        <a href="/">Cerrar sesion</a>
    </header>
    {{#if user}}
    <h2>{{user.first_name}} {{user.last_name}}</h2>
    <h3>Role: {{user.role}}</h3>
    {{/if}}
    <div id="productos">
   
    </div>
    <div id="pagination"></div>
</div>

<script > 

    const deleteProduct = async (pid) =>{
        const res = await fetch('http://localhost:8080/api/products/' + pid, {method: "delete"}).then((res) => res.json())
        if(res.ok){
            location.reload()
        }
        
    }
    const addProductToCart = async (idProdToAdd) => {

    try {
        const response = await fetch('http://localhost:8080/api/cart/1/products/' + idProdToAdd + '?quantity=1', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json', 
            },

        });

        if (!response.ok) {
            throw new Error('Error al agregar el producto');
        }
        console.log('Producto agregado con éxito');
        } catch (error) {
                console.error('Error al agregar el producto:', error);
            }
        }


    const listProductsHTML = document.getElementById('productos')
    const paginationHTML = document.getElementById('pagination')


    const renderProducts = (products, role) =>{
        let resultHTML = ''
        products.forEach(prod =>{

            if(role == 'user'){
                resultHTML += `
                <div>
                    <h2>${prod.title}</h2>
                    <p>${prod.description}</p>
                    
                    <button id="btn-add-${prod._id}" class="btn-add">Agregar al carrito</button>
                </div>
            `
            }
            else{
                resultHTML += `
                <div>
                    <h2>${prod.title}</h2>
                    <p>${prod.description}</p>
                    
                    <button id="btn-delete-${prod._id}" class="btn-delete">Eliminar</button>
                </div>`
            }
            
            listProductsHTML.innerHTML = resultHTML
        })
        if(role =='user'){
             const btsAddCart = document.getElementsByClassName('btn-add')
            for(const boton of btsAddCart){
                boton.addEventListener('click',() =>{
                    const idProdToAdd = boton.id.split('-').pop()
                    console.log(idProdToAdd)

                    addProductToCart(idProdToAdd)
                })
            }
        }
        else{
            const btnsDeleteProduct = document.getElementsByClassName('btn-delete')
            for(const boton of btnsDeleteProduct){
                boton.addEventListener('click',() =>{
                    const idProdToAdd = boton.id.split('-').pop()

                    deleteProduct(idProdToAdd)
                })
            }

        }
       
        
    }
    
    const renderPagination = (response) =>{
        let resultHTML = `
        <div>
            <a href='http:/products${response.prevLink}'>${response.hasPrevPage ? '< prev' : ''}</a>
            <a href='http:/products${response.nextLink}'>${response.hasNextPage ? 'next >' : ''}></a>
        </div>
        `
        paginationHTML.innerHTML = resultHTML
    }
    let role 
    const callProducts = async () =>{
        const url = new URL(window.location.href);
        const urlPro = new URLSearchParams(url.search);
        const page = urlPro.get('page')
        console.log(page)
        const response =  await fetch('http://localhost:8080/api/products?page=' + (page? page : 1),{method: "GET"}).then(res => res.json())
        console.log(response)
        renderProducts(response.payload, response.role)
        renderPagination(response)
        console.log(response)
    }
    callProducts()


    const url = new URL(window.location.href);
    const urlPro = new URLSearchParams(url.search);
    const rol = urlPro.get('rol')
    const username = urlPro.get('username')
    const email = urlPro.get('email')

    
    
</script>

